<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We’ve got your wine aisle covered</h2>
                <hr class="light">
                <p class="text-faded">Whether you’re a curious customer or a busy retailer, our Digital Sommelier makes wine discovery effortless. Tap your phone, chat with our AI, and get spot-on recommendations—matched to real-time store inventory. <br> <br> No app. No guesswork. Just great wine, instantly.</p>
                <a href="#" class="btn btn-default btn-xl">Get Tasting!</a>
            </div>
        </div>
    </div>
</section>
