<section id="solution" class="pt-0">
    <div class="container-fluid px-4 px-md-5">
        <div class="d-flex flex-column-reverse flex-sm-column-reverse flex-md-row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <h2>How It Works</h2>
                <p>
                    Tap a bottle with your phone → our AI sommelier reads the tag →
                    get instant tasting notes, pairings & live stock info.
                </p>
            </div>
            <div class="col-md-6 order-1 order-md-2 text-center mt-overlap">
                <img src="{{ site.baseurl }}/assets/MockUP/solution.png" alt="Technical architecture"
                    class="img-fluid solution-img">
            </div>
        </div>
    </div>
</section>